<h1>Edit</h1>
<h3 style="background-color: #4CAF60; height: 70px; padding: 20px;">Here you can edit your selected Weigh In.</h3>

<% @stage.created_at %>
<div class="first">
  <%= form_for @stage do |s| %>

  <%= s.label :weight %> <br>
  <%= s.text_field :weight %> lbs. <br><br>

  <%= s.label :height %> <br>
  <%= s.text_field :height %> feet.<br><br>

  <%= s.label :neck %> <br>
  <%= s.text_field :neck %> inches.<br><br>

  <%= s.label :shoulders %> <br>
  <%= s.text_field :shoulders %> inches.<br><br>

  <%= s.label :chest %> <br>
  <%= s.text_field :chest %> inches.<br><br>
</div>
<div class="second">
  <%= s.label :biceps %> <br>
  <%= s.text_field :biceps %> inches.<br><br>

  <%= s.label :waist %> <br>
  <%= s.text_field :waist %> inches.<br><br>

  <%= s.label :hips %> <br>
  <%= s.text_field :hips %> inches.<br><br>

  <%= s.label :thighs %> <br>
  <%= s.text_field :thighs %> inches.<br><br>
</div>


<div class="save">
  <%= s.submit 'Save Details' %>
  <%= button_to 'All Records', stages_path, :method => :get %>

  <% end %>
</div>
