<h1>Here's your record of each stage you've weighed in.</h1>
<h6><small>Every two weeks, remeasure and see what progress you've made.</small></h6>

<nav>
  <%= button_to 'Update', new_stage_path, :method => :get %>
</nav>

<% @stages.each do |stage| %>

<table>
  <thead>
      <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Height</th>
        <th>Neck</th>
        <th>Shoulders</th>
        <th>Chest</th>
        <th>Biceps</th>
        <th>Waist</th>
        <th>Hips</th>
        <th>Thighs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= stage.created_at.strftime("%b %d, %Y") %></td>
        <td><%= stage.weight %> lbs.</td>
        <td><%= stage.height %> ft. </td>
        <td><%= stage.neck %> in.</td>
        <td><%= stage.shoulders %> in.</td>
        <td><%= stage.chest %> in.</td>
        <td><%= stage.biceps %> in.</td>
        <td><%= stage.waist %> in.</td>
        <td><%= stage.hips %> in.</td>
        <td><%= stage.thighs %> in.</td>
      </tr>
    </tbody>
</table>
<% end %>
